# Ejercicio 1: Transformar cadenas

In [1]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [6]:
two_text = text.split('.')
two_text

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' \nOn average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough to cause immediate effects on Earth',
 ' The highest daylight temperature of the Moon is 127 C',
 '']

In [7]:
palabras_claves = ('average', 'temperature', 'distance')

In [14]:
for oraciones in two_text:
    for palabras in palabras_claves:
        if palabras in oraciones:
            print(oraciones)

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 C

In [12]:
for oraciones in two_text:
    for palabras in palabras_claves:
        if palabras in oraciones:
            print(oraciones.replace('C', 'Celcius'))

On average, the Moon moves 4cm away from the Earth every year
 The highest daylight temperature of the Moon is 127 Celcius

# Ejercicio 2: Formateando Cadenas

In [54]:
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [55]:
titulo = f'Gravedad en: {name}'

In [56]:
info = f"""{'-'*50}
Nombre del planeta: {planet}
Gravedad en {name}: {gravity*1000} m/s^2"""

In [57]:
union = f"""{titulo.title()}
{info}"""
print(union)

Gravedad En: Moon
--------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s^2

In [62]:
planet= 'Marte '
gravity  = 0.00143
name = 'Ganímedes'

In [63]:
print(union)

Gravedad En: Moon
--------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s^2

In [68]:
Nueva_plantilla = """
Gravedad en: {name}
-------------------------------------------------
Nombre del planeta: {planet}
Gravedad en {name}: {gravity} m/s^2
"""

print(Nueva_plantilla.format(name=name, planet=planet, gravity=gravity*1000))

Gravedad en: Ganímedes
-------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s^2